body {
  padding: 20px;
  background-color: rgb(184, 211, 234);
}

.search {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.form-text {
  margin-right: 5px;
  min-width: 100px;
  padding: 10px;
  font-size: 18px;
}

.form-select {
  padding: 10px;
}

.search-btn {
  margin-left: 5px;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #fff;
  font-size: 18px;
  transition: background-color 250ms ease, color 250ms ease;
}

.search-btn:hover,
.search-btn:focus {
  background-color: yellow;
  color: blue;
}

.weather-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.weather-list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
}
